body{
  background-color: bisque;  
}
#calculator{
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  height: 600px;
  border: 2px solid black;
}
.btn{
  width: 25%;
  border: 1px solid black;
  text-align: center;
  font-size: xx-large;
  background-color:lightgray ;
 
}
.row{
  display: flex;
  height: 100px;
  border: 1px solid black;
  text-align: center;
  font-size: xx-large;
  background-color:lightgray ;
  
}
.btn:hover{
  background:#ebebeb
}
.btn:active{
  background:#bbbcbe
}
.symbol{
  color: blanchedalmond;
 background-color:#df974c;
}
.c4:hover{
  background:#dfb07e
  }
.c4:active{
background:#dd8d37;
}
.c4{
  color: blanchedalmond;
  background-color: #df974c;
}
input{
  background-color: black;
  color: white;
  font-size: xx-large;
  size: 80px;
  width: 400px;
  height: 80px;
  border: hidden;
  text-align: end;
}
input:focus{
  outline: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
  -webkit-appearance: none;
  padding: 5px;
  border: none;
  margin: 0px;
}
 .